/* PALETA de los dibujos */

/* 1
#f6d4e5
#191617
#d4266f
#8f838a

2
#15333e
#cceaf0
#7b969d
#7f585a 

3
#f5d8c4
#151212
#f66810
#f95a06

4
#184338
#ceec9c
#e1eee5
#7aa07d

5
#f09fe0
#1c1318
#f7ebf7
#df3bbe 
 */


/* PALETA 1
.first-color { 
	background: #f5f4e8; 
}
	
.second-color { 
	background: #c50d66; 
}

.third-color { 
	background: #f07810; 
}

.fourth-color { 
	background: #eec60a; 
}  */

/* PALETA 2

.first-color { 
	background: #ff6464; 
}
	
.second-color { 
	background: #ffbd67; 
}

.third-color { 
	background: #f8fe85; 
}

.fourth-color { 
	background: #5be7a9; 
} */

/* PALETA 3

.first-color { 
	background: #65e892; 
}
	
.second-color { 
	background: #3994d6; 
}

.third-color { 
	background: #354abf; 
}

.fourth-color { 
	background: #3d289b; 
} */