@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Permanent+Marker&family=Shadows+Into+Light&&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family-principal: Kalam, sans-serif;
    --font-family-secundario: "Permanent Marker", cursive;
    --font-family-acentos: "Shadows Into Light", sans-serif;


    --color-principal: #ceec9c;
    --color-secundario: #3d289b;
    --color-acentos: #d4266f;
    --color-claro: #fafafa;
    --color-oscuro: #1c1318;

    --color-secundario-transp: #3d289b70;
    --color-verde-transparente: #ceec9c80;

    --box-shadow-color: #00000066;
    --text-shadow-color: #424242;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    font-family: var(--font-family-principal);
    font-size: 1.2rem;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-acentos) var(--color-secundario);
}

/* -----------------------------------
                HEADER
----------------------------------- */

.container-encabezado {
    height: 10vh;
    box-shadow: 0px 10px 15px -3px var(--box-shadow-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--color-secundario);
}

.barra-navegacion {
    font-weight: 500;
    font-size: 1.5rem;
    text-shadow: 5px 5px 10px var(--text-shadow-color);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    align-items: center;
    flex-grow: 2;
}

.titulo-principal {
    margin-left: 2rem;
    font-size: 2.2rem;
    font-family: Permanent Marker;
    color: var(--color-acentos);
    text-shadow: 4px 4px 4px var(--color-claro);
}

.botonera {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    flex-grow: 2;
    margin: 0 2rem;
    flex-shrink: 75%;
}

.link-no-style {
    text-decoration: none;
    outline: none;
    color: var(--color-claro);
}

.button {
    padding: 0.3rem 2rem;
    border-radius: 50px;
    margin: 1rem 0;
    box-shadow: 0px 10px 10px -3px var(--box-shadow-color);
}

.button-donar {
    background-color: var(--color-acentos);
}

/* -----------------------------------
                HERO
----------------------------------- */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    background-image: linear-gradient(#fafafa80, #fafafa80), url(./images/background/vecteezy_simple-blue-bubble-circle-background_14422402.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__card-progress {
    width: 70vw;
    border-radius: 15px;
    box-shadow: 0px 10px 10px -3px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
    background-color: #fafafaDD;
}

.hero__columnas {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.hero__frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-acentos);
    padding: 2rem;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    color: var(--color-claro);
    text-shadow: 2px 2px 3px var(--text-shadow-color);
    width: 45%;
    padding-left: 2rem;
}


.hero__progress__imagen {
    position: absolute;
    left: 38vw;
    bottom: 47.5vh;
}

.hero__picture-container {
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-info__title {
    font-family: var(--font-family-acentos);
}

.progress-contenedor-imagen {
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    margin: 2rem auto;
}

.progress-imagen {
    display: block;
    width: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 6px var(--color-secundario);
    box-shadow: 0px 10px 10px -3px var(--box-shadow-color);
}

.hero__progress-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.button-hero {
    background-color: var(--color-secundario);
    color: var(--color-claro);
}

.progress {
    width: 65%;
    border: 2px var(--color-secundario) solid;
    height: 2rem;
    border-radius: 15px;
    box-shadow: 0px 5px 5px -3px var(--box-shadow-color);
    text-align: center;
    background-color: #fafafa;
    margin: 1rem 0;
}

.progress-bar {
    width: 5%;
    height: 100%;
    background-color: var(--color-acentos);
    color: var(--color-secundario);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.progress-bar__txt {
    font-size: 1rem;
    color: var(--color-claro);
    font-weight: 900;
}

/* -----------------------------------
                CAROUSEL
----------------------------------- */
.seccion-carousel {
    background-color: var(--color-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    height: 90vh;
}

/* Position the image container (needed to position the left and right arrows) */
.container-carousel {
    width: 70vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container for image text */
.container-caption {
    background-color: var(--color-secundario);
    width: 45vw;
    display: flex;
    justify-content: center;
}

.container-caption p {
    padding: 2px 16px;
    color: var(--color-principal);
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    font-family: var(--font-family-acentos);
}

.container-slides-and-thumbnails {
    display: flex;
    justify-content: center;
    width: 45vw;
    align-items: flex-end;
}

.sub-container-slides {
    display: flex;
    align-items: flex-start;
}

.sub-container-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 10vw;
    border-left: 6px solid var(--color-secundario);
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.slides-images {
    width: 37.5vw;
}

.thumbnail-images {
    width: 7vw;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 135vh;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--color-secundario-transp);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}

.prev {
    right: 70vw;
}

/* Position the "next button" to the right */
.next {
    left: 62.5vw;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--color-secundario-transp);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 15px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* -----------------------------------
            DONACIONES
----------------------------------- */
.donar__card__banner {
    width: 12vw;
    background-color: var(--color-secundario);
    position: relative;
    left: 65vw;
    top: -19vh;
    padding: 2rem;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
    color: var(--color-claro);
    text-shadow: 2px 2px 3px var(--text-shadow-color);
    box-shadow: 5px 5px 5px 3px var(--box-shadow-color);
    z-index: 1;
}

.donar__container {
    display: flex;
    align-items: center;
    background-color: var(--color-principal);

}

.donar__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    margin: 2rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px var(--box-shadow-color);
    background-color: var(--color-claro);
}

.donar__card__title {
    font-size: 2.5rem;
    text-shadow: 5px 5px 10px var(--text-shadow-color);
}

.donar__como-donar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.donar__lugares {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.donar__lugares__encabezado {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.donar__lugares__imagen {
    width: 2vw;
    height: 2vw;
}

.donar__lugares__titulo {
    font-size: 2rem;
}

.donar__lugares__contenedor-cuentas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.link-donar {
    color: var(--color-secundario);
}

.negritas {
    font-weight: bold;
}

.titular {
    margin-left: 3rem;
}

/* -----------------------------------
            FOOTER
----------------------------------- */

.seccion-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media__imagen {
    width: 3vw;
    height: 3vw;
}

.firma__container {
    background-color: var(--color-secundario-transp);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
    margin-top: 1rem;
}

.firma__link {
    color: var(--color-principal)
}

.firma__txt {
    color: var(--color-claro);
}

/* -----------------------------------
            EXTRAS
----------------------------------- */
.hide {
    display: none;
}